.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  .flex-container {
    /* display: none; */
  }
  h1 {
    transform: translate(20px, 20px);
    z-index: -2;
  }
  /* .shrink {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  } */
  .back-end {
    display: none;
  }
  .devops {
    display: none;
  }
  .drop-down {
    visibility: visible;
  }
}

@media only screen and (min-width: 700px) {
  .flex-container {
    /* display: none; */
  }

  /* .shrink {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  } */

  .drop-down {
    visibility: hidden;
  }
}

.shrink {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.contents {
  width: 200px;
  height: 200px;
  margin: 5% 5%;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 10s infinite;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 10s infinite;
}

#cube div {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border: 1.2mm outset rgba(45, 174, 176, 0.8);
}

h1 {
  margin-top: 130%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-bottom: 3.2rem;
  text-align: center;
  white-space: nowrap;
  color: #2cadb0;
}

@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }

  25% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}

@-moz-keyframes rotatecube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }

  25% {
    -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }

  50% {
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }

  75% {
    -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }

  100% {
    -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}

.front {
  background: white;
}

.back {
  background: white;
}

.right {
  background: white;
}

.top {
  background: #fff;
}

.left {
  background: white;
}

.bottom {
  /*   background: #000; */
  background: white;

  /*   border: 4mm ridge rgba(170, 50, 220, .6); */
}

#cube .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
}

#cube .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
  -moz-transform: rotateX(180deg) translateZ(100px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.hiddenSpan {
  visibility: hidden;
}

/* DROP DOWN */

@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* html {
  height: 100%;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f9fbf7, #c9d8ff);
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
} */

.table_center {
  display: table-cell;
  vertical-align: middle;
}
.drop-down {
  display: inline-block;
  position: relative;
}

.drop-down__button {
  background: linear-gradient(to right, #3d6def, #8fadfe);
  display: inline-block;
  line-height: 40px;
  padding: 0 18px;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.drop-down__name {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.drop-down__icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 14px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}
.drop-down__menu-box:before {
  content: "";
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}

.drop-down__menu-box:after {
  content: "";
  background-color: transparent;
}

.drop-down__item {
  font-size: 17px;
  padding: 13px 0;
  text-align: left;
  font-weight: 500;
  color: #000000;
  color: #2cadaf;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
  font-family: "Montserrat", sans-serif;
}

.drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  fill: #2cadaf;
}

.drop-down__item:hover .drop-down__item-icon {
  fill: #3d6def;
}

.drop-down__item:hover {
  color: #3d6def;
}

.drop-down__item:last-of-type {
  border-bottom: 0;
}

.drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
}

.drop-down__item:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #3d6def;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.drop-down__item:hover:before {
  display: block;
}

.drop-down {
  /* display: none; */
}
