.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  .flex-container {
    /* display: none; */
  }
  h1 {
    transform: translate(220px, -100px);
    z-index: -2;
  }
  /* .shrink {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  } */
  .back-end {
    display: none;
  }
  .devops {
    display: none;
  }
}

.shrink {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.contents {
  width: 200px;
  height: 200px;
  margin: 5% 5%;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 10s infinite;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 10s infinite;
}

#cube div {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border: 1.2mm outset rgba(45, 174, 176, 0.8);
}

h1 {
  margin-top: 130%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-bottom: 3.2rem;
  text-align: center;
  white-space: nowrap;
  color: #2cadb0;
}

@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }

  25% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}

@-moz-keyframes rotatecube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }

  25% {
    -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }

  50% {
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }

  75% {
    -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }

  100% {
    -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
  }
}

.front {
  background: white;
}

.back {
  background: white;
}

.right {
  background: white;
}

.top {
  background: #fff;
}

.left {
  background: white;
}

.bottom {
  /*   background: #000; */
  background: white;

  /*   border: 4mm ridge rgba(170, 50, 220, .6); */
}

#cube .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
}

#cube .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
  -moz-transform: rotateX(180deg) translateZ(100px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

span {
  visibility: hidden;
}
